<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>UIImagePickerTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>592193811C5F3588001AE364</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5921939A1C5F3588001AE364</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>592193A51C5F3588001AE364</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
